:root {
/*	--red: #B23850;
	--blue: #3B8BEB;
	--light: #E7E3D4;
	--pale: #C4DBF6;
	--dark: #8590AA;*/
    --red: #B23850;
	--blue: #ef233c;
	--light: #d8e3e8;
	--pale: #edf2f4;
	--dark: #2b2d42;
}

.header {
  background-color: var(--light);
	/*float: left;*/
	/*padding: 1em;*/
	/*border-radius: 5px;*/
	/*display: flex;*/
	/*align-items: stretch;*/
}

#logo {
	max-height: 5em;
	/*text-align: left;*/
	/*display: inline-block;*/
	padding: 1em;
	max-width: 80%;
}

.header #links {
	display: none;
}

.header a {
  color: var(--light);
  background-color: var(--dark);
  padding: 1em;
  text-decoration: none;
  /*font-size: 17px;*/
  display: block;
}

.header a.icon {
  background-color: var(--dark);
  /*display: block;*/
  /*float: right;*/
  /*height: 5em;*/
  position: absolute;
  right: 0;
  top: 0;
}

/* Add a grey background color on mouse-over */
.header a:hover {
  background-color: var(--red);
  /*color: var(--red);*/
}

/* Style the active link (or home/logo) */
.active {
  background-color: #04AA6D;
  color: white;
}


body {
	font-family: "Open Sans", Helvetica, sans-serif;
	background-color: var(--pale);
  	/*color: var(--dark);*/
  	margin: auto;
	text-align: center;

	min-height: 100vh;
    display: flex;
    flex-direction: column;
}
canvas {
  display: block;
  margin-left: auto;
  margin-right: auto;
  /*width: 40%;*/
}



.selection {
  	/*color: var(--dark);*/
	background-color: var(--light);
	border: 2px solid var(--light);
	border-radius: 6px;
	/*padding: 18px 36px;*/
	/*display: inline-block;*/
	/*font-family: "Lucida Console", Monaco, monospace;*/
	/*font-size: 14px;*/
	/*letter-spacing: 1px;*/
	/*cursor: pointer;*/
	/*box-shadow: inset 0 0 0 0 #D80286;*/
	/*-webkit-transition: ease-out 0.4s;*/
	/*-moz-transition: ease-out 0.4s;*/
	/*transition: ease-out 0.4s;*/
}

#distribution {
  background-color: var(--pale);
  /*color: var(--pale);*/

}

.footer {
  margin-top: auto;
  background-color: var(--dark);
  color: var(--pale);
  font-size: 0.8em;
  text-align: center;
}

#1E1E24
#92140C
#FFF8F0
#FFCF99
#111D4A


